.logo {
  border-radius: 3px;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      box-shadow: 0 0 0 2px $color-alice-blue;
    }
  }

  &:active {
    opacity: 0.7;
  }

  &--current-page {
    pointer-events: none;
    cursor: default;
  }
}
